.imagedesign {
    width: 200px;
    height: 200px;
    padding-left: 8px;
    bottom: 20px;
    margin-left: 5%;
}
.container {
    display: flex;
    flex-direction: column;
}
.mainContainer {
    display: flex;
    flex-direction: row;
}